@import '~spinners-react/lib/SpinnerDiamond.css';

.Loader {
  position: absolute;
  display: grid;
  place-items: center;
  pointer-events: none;

  block-size: 100vh;
  width: 100%;
  background-color: gainsboro;
  opacity: 0.5;
  z-index: 9999;
}
